<!doctype html>
<html>
    <head>
        <title>Distribute Inventory Network (Prototype)</title>
    <head>
    <body>
        <h1>Inventory Network Microsite</h1>
        {{{body}}}
    </body>
</html>

